*{
    font-family: 'Open-Sans', sans-serif;
    box-sizing: border-box;
    
}
p{
    font-family: 'Open-Sans', sans-serif;
    box-sizing: border-box;
    font-size: 14px;
    color: rgb(70, 70, 70);
}
a {
    text-decoration: none;
}
header{
    margin-bottom: 30px;
}
body{
    
    padding: 0;
    margin: 0;
}
#top-header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(75, 191, 230);
    min-height: 40px;
    flex-wrap: wrap;

}
.center{
    max-width: 1020px;
    margin: auto;
}
.t-h-color{
    color: white;
}


ul{
   display:flex;
   justify-content: space-between;
   flex-wrap: wrap;
   list-style: none;
   padding: 0;
   margin: 0;
}
#top-menu-t li a{
    padding: 10px 15px;
    color:white;
    display: block;
    
}
#top-menu-t li:last-child a{
    padding-right: 0;
    
    
}

#middle-header{
    display: flex;
    justify-content: space-between;
    min-height: 100px;
    padding-right:0;
    align-items: center;
    flex-wrap: wrap;
}
#logo{
    width:150px;
    height:100%;
    
    
}
#mh-menu{
    width: 45%;
    font-weight: 800;
    color: rgb(75, 75, 75);
    
}

#mh-menu li a{
    padding: 0 15px;
    color: rgb(75, 75, 75);
    text-decoration: none;
}

#main-banner{
    height: 400px;
    width:100%;    
}
#bottom-header{
    position: relative;
}
#title{
    background-color: gray;
    color: white;
    max-width:350px;
    line-height: 2em;
    font-size: 26px;
    position:absolute;
    top: 40%;
    left: 5%;
    z-index: 5;  
    
}
#banner-img{
    
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
}

#search{
    max-width:173px;
    width:100%;
    position: relative;
    height: 30px;
}
#search img{
    position: absolute;
    right: 5px;
    top: 10px;
}
#search input{
    width: 100%;
    height: 100%;
}
#sale{
    width: 20%;
    
}
#cart{
    width:10%;
    
}

#main-area{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#f-products{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}
#f-products .image{
    width: 33.33%;
    margin: 40px 0;
}

#f-products img{
    width: 100%;
}

#f-products h2{
    font-family: 'Open-Sans', sans-serif;
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
    width: 100%;
}

.main-images{
    display: flex;
    justify-content:  space-between;
    margin: 40px 0;
    margin-bottom: 100px;
}
#sidebar{
    width:30%;
    padding-left: 50px;   
}

#sidebar img{
    max-width: 100%;
}
#sidebar-img{
    position: absolute;
    border: 2px solid lightgray;
    padding:10px;
}
#sidebar-btn{
    position: relative;
    background-color: #4cb1ca;
    color:white;
    font-weight: 400;
    font-size:15px;
    padding: 18px 24px;
    z-index: 10;
    top: 320px;
    left: 40px;
}
#side-featured{
    height: 500px;
}
#newsl{
    text-align: center;
    border-top: 7px solid #4cb1ca;
    border-left: 2px solid lightgray;
    border-right: 2px solid lightgray;
    border-bottom: 2px solid lightgray;  
    padding: 20px 8px;  
}
#newsl button{
    background-color: #7eb123;
    color:white;
    font-weight: 400;
    font-size:15px;
    padding: 12px 21px;
    margin-top: 15px;
}
#newsl input{
    margin-top:20px;
    height: 30px;
    max-width: 100%;
}
footer{
    background-color: #4cb1ca;
}
#sub-footer{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#shipping, #call{
    width: 50%;
    display: flex;
    justify-content: space-between;
}
#shipping img, #call img{
    
    margin: 15px 0 15px 0;
    
}
#shipping div, #call div{
    
    font-size: 19px;
    text-transform: uppercase;
    margin: auto;
    
}
#sub-footer span{
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
}
#main-footer-bg{
    background-color: #39a0b9;
    
}
#main-footer{
    
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 45px 0;
    
}

#contact{
    width:20%;
}
#twitter, #facebook, #info{
    width: 25%;
}
#bottom-footer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #0b4b5a;
}
#copyright{
    width: 30%;
}
footer{
    color: white;
}
.footer-text{
    text-transform: uppercase;
    font-size: 21px; 
    margin-bottom: 20px;  
}
#twitter .footer-text{
    margin-bottom: 5px;
} 
#twit-text{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.twit-info{
    /* display: flex;
    justify-content: space-between; */
    flex-wrap: wrap;
}
.twit-info p{
    
    color: white;
    line-height: 1.5em;
}
.twit-info img{
    margin-top: 15px;
    width: 20%;
    height: 100%;
}
#likes-img{
    margin-bottom: 15px;
    margin-top: 5px;
}
.facebook-people{
    margin-bottom: 5px;
}
.facebook-people img{
    margin-right: 5px;
}
#social-icons{
    margin-top: 25px;
}
#addres div{
    margin-bottom: 6px;
}
#info li{
    margin-bottom: 6px;
}
#copyright{
    margin: 18px 0;
}
#copyright div{
    font-size: 13px;
}
#bottom-menu ul{    
    text-decoration: none;
    color: white;
}
#bottom-menu li{    
    text-decoration: none;
    color: white;
}
#bottom-menu a{    
    text-decoration: none;
    color: white;
    border-right: 1px solid white;
    padding: 0 20px 0 20px;
    font-size: 13px;
}
#bottom-menu ul li:last-child a{
    border: none;
}
.product-text{
    display:flex;
    justify-content: space-between;
}
.left-text{    
    margin: auto;
}
.price{
    color: green;
    font-size: 18px;
    font-weight: 500;
    margin-top: 5px;
}
.text-img{
    font-size: 14px;
}




@media(max-width: 1070px){
    #middle-header{
        padding: 0 20px;
        flex-direction: column;
        justify-content: center;
    }
    #mh-menu, #search, #sale{
        width: auto;
    }
    ul{
        justify-content: center;
    }
    #logo, #search{
        margin: 15px 0;
    }
    #sale{
        margin-bottom: 15px;
    }


}
@media(max-width: 900px){
    #f-products .image{
        width: 50%;
    }
    #f-products{
        width: 60%;
    }
    #sidebar{
        width: 40%;
    }
    

}

@media(max-width: 625px){
    #top-header{
        padding-top: 15px;
    }
    #title{
        font-size: 16px;
    }
    #main-footer{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    #facebook, #twitter, #info, #contact{
        width: auto;   
        padding-bottom: 40px; 
        text-align: center;   
    }
    #twit-info{
        flex-wrap: wrap;
        
    }
    #twit-icon{
        padding-top: 15px;
    }
    #bottom-footer{
        padding-bottom: 20px;
    }
    #copyright{
        text-align: center;
        width: 100%;
    }
    #bottom-menu a{
        padding-left: 20px;
    }
    #shipping, #call{
        width: 100%;
        text-align: center;
    }


}
@media(max-width: 550px){
    #main-area{
        flex-wrap: wrap;
        justify-content: center;
    }
    #f-products{
        width: 100%;
    }
    #sidebar{
    width: 100%;
       justify-content: center;
       padding-left: 0; 
    }
    #side-featured{ 
        display: flex;   
        justify-content: center;
    }
    #sidebar-btn{
        left:0;
        height: 40px;
        padding-bottom: 35px;
    }
}
@media(max-width: 400px){

    #f-products .image{
        width: 100%;
    }
}